
.c-navbar{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    

    &--link{
    color:white;
    text-decoration: none;
    position:relative;
    &:hover{
        color:rgb(167, 167, 167);
    }

    }

    
}

.c-menu--link.active{
    border-bottom: 2px solid white;
}


@media only screen and (max-device-width: 480px){
    .c-navbar {
      top:0;
      font-size: 3vw;
      margin-top: 1rem;
      margin-bottom: 50.5rem;

    }
  }



