.c-house-gallery{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    margin-top: 2rem;
    margin-left: 8rem;
    height: 700px;
    width: 105rem;
    
    &__content{
        position: relative;
        margin-right: -1rem;
    }
    &__image{
        width: 248px;
        height: 297px;
    }
    &__name{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: white;
        text-align: center;
        margin-left: 3.5rem;
        margin-top: 1rem;
        position: absolute;
    }
}

.c-house-gallery::-webkit-scrollbar{
    width: 4px;
    background-color: #443d3d;
}

.c-house-gallery::-webkit-scrollbar-thumb{
    width: 4px;
    height: 91.3px;
    background-color: white;
}


@media only screen and (max-device-width: 480px){
    .c-house-gallery {
      width: 98vw;
      height: 100vh;
      display: flex;
      margin: 0;
      
      &__content{
          margin-top: 1rem;
          margin-left: 1.5rem;
      }
    }
  }