.cuadrado {
    width: 100px; 
    height: 100px; 
    background: #428bca;
}

.cuadrado1 {
    margin-left: 400px;
    width: 100px; 
    height: 100px; 
    background: #428bca;
}
.cuadrado2 {
    margin-left: 600px;
    width: 100px; 
    height: 100px; 
    background: #428bca;
}
.cuadrado3 {
    margin-left: 800px;
    width: 100px; 
    height: 100px; 
    background: #428bca;
}
.cuadrado4 {
    margin-left: 1000px;
    width: 100px; 
    height: 100px; 
    background: #428bca;
}